<!-- app/templates/components/seeder-block.hbs -->
<div class="row">
  <div class="col-md-12">
    <h3>{{sectionTitle}}</h3>

    <div class="row">
      <div class="form-horizontal">
        <label class="col-sm-2 control-label">新增测试数据条数:</label>
        <div class="col-sm-2">
          {{input value=counter class='form-control'}}
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary" {{action 'generateAction'}}>生成</button>
          {{#fader-label isShowing=createReady}}生成完毕!{{/fader-label}}
        </div>
        <div class="col-sm-4">
          <button class="btn btn-danger" {{action 'deleteAction'}}>删除所有测试数据</button>
          {{#fader-label isShowing=deleteReady}}删除完毕!{{/fader-label}}
        </div>
      </div>

    </div>
  </div>
</div>
