{{! app/templates/about.hbs }}
<h1>简介</h1>
<p style="color: red; font-size: 16px;">
    我是ubuntuvim，一个Ember.js爱好者！！欢迎你加入到Ember.js的大家庭，下面是我博客网站和GitHub。
</p>
<br>
<h3>博客</h3>
<p>
    <a target="_blank" href="http://emberteach.ddlisting.com">Ember Teach</a> - 致力于为您提供最权威、最前沿的Ember技术教程。
</p>
<br>
<h3>GitHub</h3>
<p>
    博客所有的代码和示例都可以在<strong><a target="_blank" href="https://github.com/ubuntuvim">GitHub</a></strong>上找到，并且还提供了完整、全面的学习demo，让你少走弯路，早日出坑！
</p>
<br>
<h4>连接野狗的Ember.js适配器</h4>
<p>
    <font style="font-size: 20px; color: red;">重点推荐WildEmber</font><br>
    <a href="https://github.com/ubuntuvim/WildEmber" target="">WildEmber</a>是一个类似<a href="https://github.com/firebase/emberfire" target="_blank">Emberfire</a>的适配器，
    不同的是前者用于适配<a href="https://www.wilddog.com/">野狗</a>实时服务，
    后者用于适配<a href="https://www.firebase.com/">firebase</a>实时服务。
</p>
<p>
    野狗和firebase都是实时的数据服务，但是遗憾的是firebase是谷歌的，你懂的在天朝想访问都是比较那个啥的！！！
    所以找了国内的替代品——野狗。当然不是时候野狗不好，如果你使用过这两个服务就会发现其实野狗就是firebase（说难听其实就是直接抄firebase的，连API、调用方法都一样！！）。
    也正是因为firebase无法访问所以我们为Ember.js的开发提供了连接野狗的适配器WildEmber。它的使用方式和firebase一模一样，因为WildEmber是直接fork Emberfire的（说难听点其实也是抄Emberfire的！！）。
</p>
<br>
<h4>Ember.js学习demo</h4>
<p>
    <ul>
        <li><a href="https://github.com/ubuntuvim/my_emberjs_code" target="_blank">博客示例源码</a></li>
        <li><a href="https://github.com/ubuntuvim/ddlisting" target="_blank">天天清单</a>，应用预览网址:<a href="http://list.ddlisting.com" target="_blank">点击预览</a></li>
        <li><a href="https://github.com/ubuntuvim/ember-adapter-serializer" target="_blank">Ember.js适配器、序列化器</a></li>
        <li><a href="https://github.com/ubuntuvim/WildEmber/tree/master/tests/dummy" target="_blank">Library APP（当前访问的应用）</a></li>
    </ul>
</p>
<br>
<h3>微信公众号</h3>
<p>
    <img src="http://blog.ddlisting.com/content/images/2016/08/gongzonghanghao.jpg" alt="" />
</p>
<p>
    关注我的公众号即使获取最新的Ember.js资讯和Ember Teach最新发表的文章。
</p>
<br>
<h3>Ember.js QQ群</h3>
<p>
    群号：242650456，这是一个技术交流群，请勿在群里发广告！发广告者必踢！！
</p>
