
<table>
    <thead>
        <tr>
            <td>
                密码
            </td>
        </tr>
    </thead>

    <tbody>
        {{#each model as |u|}}
        <tr>
            <td>
                {{u.password}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{outlet}}
